@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@700&display=swap');

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 10rem;
  background: linear-gradient(to right, rgb(35, 183, 200), rgb(45, 90, 180));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fade 3s ease-in;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.movie-card {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em; 
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.movie-card:hover {
  border-color: #646cff;
}
.movie-card:focus,
.movie-card:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.movie-card-image{
  border-radius: 30px;
  max-height: auto;
  max-width: 300px;
}

.table{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-bar{
  position: inherit;
  font-family: 'Bebas Neue','Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-bar li {
  display: inline-block;
  padding: 20px;
  font-family: Inter;
}

.nav-bar h1 {
  font-size: 50px;
}